node_modules
.next
out
dist
.env
.pnpm-store
.env.local
.env.development.local
.env.test.local
.env.production.local
tsconfig.tsbuildinfo
# 插件目录
addons/*/
!addons/.runtime/
!addons/.staging/
!addons/.trash/
!addons/*/dist/

# 插件 ZIP 文件
*.zip

/uploads/
/backups/
